.contact{
    padding: 10rem 25% 20rem;
    background-color: #d3e0eb;
}
.contact .title-contact{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.contact .row-contact{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact .row-contact .card-contact{
    height: 12rem;
    width: 20rem;
    border-radius: .4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .row-contact .card-contact .icon{
    font-size: 2.5rem;
    color: #4d4d4d;
}

.contact .row-contact .card-contact h4{
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
    color: #616161;
}

.contact .row-contact .card-contact p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: lightslategrey;
}

.contact .row-contact .card-contact a{
    margin-top: 1.5rem;
    color: lightslategrey;
    font-weight: 600;
}

.contact .row-contact .card-contact a:hover{
    color: var(--second-color);
}

.contact .row-contact .card-contact a .icon-contact{
    display: inline-block;
    padding-top: .6rem;
    font-size: 1.4rem;
}

/* RESPONSIVE BREAKPOINT */
@media (max-width: 1345px) {
    .contact{
        padding: 10rem 15%;
    }
}

@media (max-width: 513px) {
    .contact{
        padding: 10rem 10%;
    }
}